Repository voxpupuli/puppet-network, pull requests merged in 2023-12, with the labels that each got.

#314 Support 'local' routes with redhat provider
  README.md
  lib/puppet/provider/network_route/redhat.rb
  lib/puppet/type/network_route.rb
  spec/fixtures/provider/network_route/redhat/local_routes
  spec/unit/provider/network_route/redhat_spec.rb
  spec/unit/type/network_route_spec.rb
Labels: enhancement

#315 Release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#317 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync
