Repository voxpupuli/puppet-network, pull requests merged in 2024-10, with the labels that each got.

#335 Ensure boolean properties munged
  lib/puppet/provider/network_config/redhat.rb
  spec/unit/provider/network_config/redhat_spec.rb
Labels: bug

#334 Update README.md
  README.md
Labels: docs

#331 network_config::redhat: allow "_" in network interface names
  lib/puppet/provider/network_config/redhat.rb
Labels: bug

#327 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#336 Release 2.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
